	<!doctype html>
	{% load static %}
	<html lang="zxx" class="no-js">
	<head>

		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{% static 'img/fav.png' %}">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Кофейня</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
			<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,900&subset=cyrillic" type='text/css' rel="stylesheet">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css" integrity="sha384-3fdgwJw17Bi87e1QQ4fsLn4rUFqWw//KU0g8TvV6quvahISRewev6/EocKNuJmEw" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" integrity="sha384-EvBWSlnoFgZlXJvpzS+MAUEjvN7+gcCwH+qh7GRFOGgZO0PuwOFro7qPOJnLfe7l" crossorigin="anonymous">
			<link rel="stylesheet" href="{% static 'css/linearicons.css '%}" type="text/css">
			<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}" type="text/css">
			<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" type="text/css">
			<link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}" type="text/css">
			<link rel="stylesheet" href="{% static 'css/nice-select.css'%}" type="text/css">
			<link rel="stylesheet" href="{% static 'css/animate.min.css'%}" type="text/css">
			<link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}" type="text/css">
			<link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css">
		</head>
		
		<body>
	

			  <header id="header" id="home">
				<div class="header-top">
		  			<div class="container">
				  		<div class="row justify-content-end">
				  			<div class="col-lg-8 col-sm-4 col-8 header-top-right no-padding">
				  				<ul>
				  					<li>
				  						Пон.-Пят.: с 8.00 до 21.00 
				  					</li>
				  					<li>
				  						Суб.-Воск.: с 9.00 до 18.00
				  					</li>
				  					<li>
				  						<a href="tel:+7(499)270-40-40">+7(499)270-40-40</a>
				  					</li>				  					
				  				</ul>
				  			</div>
				  		</div>			  					
		  			</div>
				</div>			  	
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="{% static 'img/logo.png' %}" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="#home">Начало</a></li>
				       
				          <li><a href="#coffee">Меню</a></li>
				          <li><a href="#review">Обзор</a></li>
				          <li><a href="#blog">Блог</a></li>
				          
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->


			<!-- start banner Area -->
			<section class="banner-area" id="home">	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-start">
						<div class="banner-content col-lg-7">
							<h6 class="text-white text-uppercase">Зарядись энергией на весь день</h6>
							<h1>
								Начни свой день <br>
								с черного кофе			
							</h1>
							<a href="https://kassa.yandex.ru/help/payments/accept-methods.html" class="primary-btn text-uppercase">Купить </a>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			
			<!-- End video-sec Area -->
			
			<!-- Start menu Area -->
			<section class="menu-area section-gap" id="coffee">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Какой кофе мы подаем для вас</h1>
								
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Капучино</h4>
									<p class="price float-right">
										₽49
									</p>
								</div>
								<p>
									Кофейный напиток итальянской кухни на основе эспрессо с добавлением в него подогретого вспененного молока.
								</p>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Американо</h4>
									<p class="price float-right">
										₽49
									</p>
								</div>
								<p>
									Способ приготовления кофе, заключающийся в соединении определённого количества горячей воды и эспрессо.
								</p>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Эспрессо</h4>
									<p class="price float-right">
										₽49
									</p>
								</div>
								<p>
									Метод приготовления кофе путём прохождения горячей воды под давлением 9 бар через фильтр с молотым кофе.
								</p>								
							</div>
						</div>	
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Макиато</h4>
									<p class="price float-right">
										₽49
									</p>
								</div>
								<p>
									Кофейный напиток, изготавливаемый из порции эспрессо и небольшого количества молока, обычно взбитого.
								</p>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Макко</h4>
									<p class="price float-right">
										₽49
									</p>
								</div>
								<p>
									Приготовленный на основе кофе напиток с добавлением молока и шоколада. 
								</p>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Кофе латте</h4>
									<p class="price float-right">
										₽49
									</p>
								</div>
								<p>
									Кофейный напиток родом из Италии, состоящий из молока и кофе эспрессо.
								</p>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Пикколо латте</h4>
									<p class="price float-right">
										₽49
									</p>
								</div>
								<p>
									Кофейный напиток, изготавливаемый из порции эспрессо и небольшого количества молока, обычно взбитого. 
								</p>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Ристретто</h4>
									<p class="price float-right">
										₽49
									</p>
								</div>
								<p>
									Эспрессо, в котором отношение массы напитка к массе перемолотого зерна ниже, чем в нормале и лунго
								</p>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Аффогато</h4>
									<p class="price float-right">
										₽49
									</p>
								</div>
								<p>
									Десерт на основе кофе. Десерт обычно готовится из ванильного мороженого, которое заливается порцией горячего эспрессо.
								</p>								
							</div>
						</div>															
					</div>
				</div>	
			</section>
			<!-- End menu Area -->
			
			<!-- Start gallery Area -->
			<section class="gallery-area section-gap" id="gallery">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Какой кофе мы подаем для вас</h1>
								
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-4">
							<a href="{% static 'img/g1.jpg' %}" class="img-pop-home">
								<img class="img-fluid" src="{% static 'img/g1.jpg' %}"  alt="">
							</a>	
							<a href="{% static 'img/g2.jpg' %}"  class="img-pop-home">
								<img class="img-fluid" src="{% static 'img/g2.jpg' %}"  alt="">
							</a>	
						</div>
						<div class="col-lg-8">
							<a href="{% static 'img/g3.jpg' %}"  class="img-pop-home">
								<img class="img-fluid" src="{% static 'img/g3.jpg' %}"  alt="">
							</a>	
							<div class="row">
								<div class="col-lg-6">
									<a href="{% static 'img/g4.jpg' %}"  class="img-pop-home">
										<img class="img-fluid" src="{% static 'img/g4.jpg' %}"  alt="">
									</a>	
								</div>
								<div class="col-lg-6">
									<a href="{% static 'img/g5.jpg' %}"  class="img-pop-home">
										<img class="img-fluid" src="{% static 'img/g5.jpg' %}"  alt="">
									</a>	
								</div>
							</div>
						</div>
					</div>
				</div>	
			</section>
			<!-- End gallery Area -->
			
			<!-- Start review Area -->
			<section class="review-area section-gap" id="review">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Какой кофе мы подаем для вас</h1>
								
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-6 col-md-6 single-review">
							<img src="{% static 'img/r1.png'%}" alt="">
							<div class="title d-flex flex-row">
								<h4>Egoiste</h4>
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>								
								</div>
							</div>
							<p>
								Сублимированный кофе Egoiste производят из арабики различных регионов, в линейке присутствуют оригинальные продукты, например, Egoiste Special – это смесь натурального и растворимого кофе.
							</p>
						</div>	
						<div class="col-lg-6 col-md-6 single-review">
							<img src="{% static 'img/r2.png'%}" alt="">
							<div class="title d-flex flex-row">
								<h4>Bushido</h4>
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>								
								</div>
							</div>
							<p>
								Делают его в Швейцарии, марка - собственность компании HACO, зарегистрированной там же.У них множество необычных упаковок и форматов выпуска, а также кофе с особенными характеристиками.
							</p>
						</div>	
					</div>
					<div class="row counter-row">
						<div class="col-lg-3 col-md-6 single-counter">
							<h1 class="counter">2536</h1>
							<p>Счастливых клиентов</p>
						</div>
						<div class="col-lg-3 col-md-6 single-counter">
							<h1 class="counter">7562</h1>
							<p>Всего клиентов</p>
						</div>
						<div class="col-lg-3 col-md-6 single-counter">
							<h1 class="counter">2013</h1>
							<p>Чашки кофе</p>
						</div>
						<div class="col-lg-3 col-md-6 single-counter">
							<h1 class="counter">10536</h1>
							<p>Всего сделано</p>
						</div>																		
					</div>
				</div>	
			</section>
			<!-- End review Area -->
			
			<!-- Start blog Area -->
			<section class="blog-area section-gap" id="blog">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Блог</h1>
								
								
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-6 col-md-6 single-blog">
							<img class="img-fluid" src="{% static 'img/g1.jpg' %}"  alt="">
							<ul class="post-tags">
								<li><a href="https://zen.yandex.ru/media/id/5e611f8823565406ab5933ce/top12-luchshih-marok-rastvorimogo-kofe-5e8633a366408b1f838411e2">Перейти</a></li>
								<li><a href="#">Like</a></li>
							</ul>
							<a href="#"><h4>Топ-12 лучших марок растворимого кофе</h4></a>
							<p>
								Отправляясь за кофе в магазин, иногда теряешься среди многообразия ярких упаковок, пестрых банок и коробок. Если при покупке натурального кофе можно как-то сориентироваться по сорту или стране происхождения зерен, то растворимый различается, на первый взгляд, только стоимостью и названиями.
							</p>
							<p class="post-date">
								20 мая, 2020
							</p>
						</div>
						<div class="col-lg-6 col-md-6 single-blog">
							<img class="img-fluid" src="{% static 'img/b2.jpg' %}" alt="">
							<ul class="post-tags">
								<li><a href="https://zen.yandex.ru/media/leagueofcoffee/10-samyh-dorogih-sortov-kofe-v-mire-takogo-vy-ne-znali-5985c2b8f26a850a0ca052eb">Перейти</a></li>
								<li><a href="#">Like</a></li>
							</ul>
							<a href="#"><h4>Топ-10 самых дорогих сортов кофе в мире</h4></a>
							<p>
								Кофе – один из излюбленных напитков всех жителей нашей планеты. Мало кто знает, что среди нас есть гурманы, готовые отдать тысячу долларов за килограмм уникальных зерен.Всего в мире насчитывается порядка 70 видов кофейных деревьев.
							</p>
							<p class="post-date">
								21 мая, 2020
							</p>
						</div>						
					</div>
				</div>	
			</section>
			<!-- End blog Area -->
			

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
										
							</div>
						</div>
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Новостная рассылка</h6>
								<p>Будьте в курсе наших последних новинкок</p>
								<div class="" id="mc_embed_signup">
									<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
										<input class="form-control" name="EMAIL" placeholder="Почта" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
			                            	<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
			                            	<div style="position: absolute; left: -5000px;">
												<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
											</div>

										<div class="info pt-20"></div>
									</form>
								</div>
							</div>
						</div>						
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
								<h6>Подписаться</h6>
								<p>на нас в соцсетях</p>
								<div class="footer-social d-flex align-items-center">
									<a href="https://ru-ru.facebook.com"><i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
									<a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
									<a href="https://vk.com"><i class="fa fa-vk"></i></a>
								
								</div>
							</div>
						</div>							
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->
		    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
			<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="{% static 'js/easing.min.js' %}"></script>
			<script src="{% static 'js/hoverIntent.js' %}"></script>
			<script src="{% static 'js/superfish.min.js' %}"></script>
			<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
			<script src="{% static 'js/owl.carousel.min.js' %}"></script>
			<script src="{% static 'js/jquery.sticky.js' %}"></script>
			<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
			<script src="{% static 'js/parallax.min.js' %}"></script>
			<script src="{% static 'js/waypoints.min.js' %}"></script>
			<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
			<script src="{% static 'js/mail-script.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
		</body>
	</html>



